<!DOCTYPE html>
<html data-ng-app="app">
<head>
	<meta charset="UTF-8"/>
	<title>Code Monkeys Attack!</title>
	
<!-- 	css -->
	<link rel="stylesheet" type="text/css" href="css/main.css"/>
	<link rel="stylesheet" type="text/css" href="js/lib/bootstrap/dist/css/bootstrap.min.css"/>
	<link rel="stylesheet" type="text/css" href="js/lib/nz-animate/dist/nzAnimate.min.css"/>
	
<!-- 	bower components -->
	<script type="text/javascript" src="js/lib/jquery/dist/jquery.min.js"></script>
	<script type="text/javascript" src="js/lib/bootstrap/dist/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="js/lib/angular/angular.min.js"></script>
	<script type="text/javascript" src="js/lib/angular-animate/angular-animate.min.js"></script>
	<script type="text/javascript" src="js/lib/angular-route/angular-route.min.js"></script>
	<script type="text/javascript" src="js/lib/angular-route/angular-route.min.js"></script>
	<script type="text/javascript" src="js/lib/underscore/underscore-min.js"></script>
	
<!-- 	app -->
	<script type="text/javascript" src="js/app.js"></script>
	<script type="text/javascript" src="js/route.config.js"></script>
	
<!-- 	controllers -->
	<script type="text/javascript" src="js/controllers/main.controller.js"></script>
	<script type="text/javascript" src="js/controllers/home.controller.js"></script>
	
<!-- 	services -->
	<script type="text/javascript" src="js/services/notification.service.js"></script>
	<script type="text/javascript" src="js/services/modal.service.js"></script>
	
	
</head>
<body>

	<div data-ng-controller="MainController as main" class="container-fluid main-content">
	
		<div class="ng-view"></div>
		
			
		<nav class="navbar navbar-default navbar-fixed-bottom">
			<div class="container-fluid">
				<div>
					<ul class="nav navbar-nav">
						<li><a href="#/home">Home</a></li>
						<li><a href="#/view2">View 2</a></li>
					</ul>
				</div>
			</div>
		</nav>
	
		<div class="message-container">
			<div 
				data-ng-repeat="n in main.getActiveNotifications() track by $index"
				class="shadow alert" data-ng-class="main.getNotificationClass(n)">
				<span
					data-ng-click="main.removeNotification(n);" 
					class="glyphicon glyphicon-remove pull-right"></span>
				<h4>{{ n.title }}</h4>
				<p>{{ n.text }}</p>
				<p ng-repeat="line in n.lines">{{ line }}</p>
			</div>
		</div>
	
	</div>
	
</body>
</html>