<div
	popover-title="{{ vm.mgCharacter.name }}" 
	popover="{{ vm.mgCharacter.description }}"
	popover-placement="bottom"
	popover-trigger="mouseenter"
	class="character-tile shadow">
	<div class="row">
		<div class="col-xs-12">
			<label class="truncate">{{ vm.mgCharacter.name }}</label>
			
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12">
			<img 
				ng-src="{{ vm.mgCharacter.thumbnail.path }}.{{ vm.mgCharacter.thumbnail.extension }}"
				class="img-thumbnail"
				style="width:150px"/>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12"></div>		
	</div>
</div>